body,
html {
  width: 100% !important;
  height: 100% !important;
  scrollbar-width: none !important;
}

body {
  font-weight: normal !important;
  font-style: normal !important;
}

body::-webkit-scrollbar {
  display: none !important;
}

article {
  min-height: 72vh !important;
}

a {
  text-decoration: none !important;
}

* {
  scrollbar-width: thin !important;
  scrollbar-color: var(--v-scrollbar-base) transparent !important;
}

*::-webkit-scrollbar {
  width: 0 !important;
  height: 6px !important;
}

*::-webkit-scrollbar-track {
  background: transparent !important;
}

*::-webkit-scrollbar-thumb {
  background-color: #d6d6d6 !important;
  border-radius: 1px !important;
  border: 1px solid;
}

*:focus {
  outline: none !important;
}
