:root {
  --vp-c-brand: #00a2e9;

  --vp-button-brand-border: #039adb;
  --vp-button-brand-hover-border: #00a2e9;
  --vp-button-brand-hover-bg: #039adb;
  --vp-button-brand-active-border: #039adb;
  --vp-button-brand-active-bg: #00a2e9;

  --vp-c-brand-dark: #039adb;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

.image-bg {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  border-radius: 50% !important;
  width: 350px !important;
  height: 200px !important;
  filter: blur(200px) !important;
  background-image: linear-gradient(90deg, #70707060 60%, #70707060) !important;
  transform: translate(-50%, -50%) !important;
}
