:root {
  --vp-c-brand: #00a2e9;

  --vp-button-brand-border: #039adb;
  --vp-button-brand-hover-border: #00a2e9;
  --vp-button-brand-hover-bg: #039adb;
  --vp-button-brand-active-border: #039adb;
  --vp-button-brand-active-bg: #00a2e9;

  --vp-c-brand-dark: #039adb;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
}
